* {
    /* border: 1px dotted grey; */
    
}

body {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}
/* header */
.main-logo {
    text-decoration: none;
    font-size: 40px;
    font-weight: 1000;
}
a {
    text-decoration: none;
    color: black;
}
#menu {
    text-align: center;
    padding: 10px 0px;
}


#navbar {

    margin-bottom: 50px;
}
#main-title {
    text-align: center;
}

/* main-card */
.card {
    justify-content: start;
    margin: 40px 0px;
    text-align: center;  
}
.card-body>*>* {
    text-align: center; 
}

button {
    width: 80%;
}
li {
    list-style-type: none;  
}
#main-comp {
    text-align: center;
    margin: 40px 0px;
}
/* main-table */
table * {
    background-color: rgb(245, 245, 245);;
}
tbody > tr > th {
    text-align: left;
    
}
td {
    text-align: center;

}
/* footer */
h5 {
    font-weight: bold;
    text-indent: 12px ;
}
#footer-ul
{
    justify-content: space-between;
    vertical-align:start;

}
li {
    text-align: start;
}


